# --- CONFIGURATION STREAMLIT ---
STREAMLIT_PORT=8501

# --- CONFIGURATION POSTGRES ---
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=toolbox_db
DB_HOST=db
DB_PORT=5432

# --- URL SQLAlchemy ---
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
